@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: #57534e;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.shadow-custom {
  box-shadow: 0 10px 15px rgba(216, 216, 216, 0.6);
}

/* button */

.RSbutton {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  background-color: #ed1c24;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 4px;
  font-weight: bold;
  outline: none;
  overflow: hidden;
}

.btnicon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.RSbutton:hover {
  transform: scale(1.02);
}

.RSbutton:hover .btnicon {
  transform: translate(4px);
}

.RSbutton:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.RSbutton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* header */

.headroom-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* slick slider */

.heroSlider .slick-prev {
  left: 0;
  z-index: 1;
}

.heroSlider .slick-next {
  right: 0;
}

/* services */

.image-box,
.service-contentbox {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.servicesWrapper .servicelist:hover .image-box {
  border-color: #ed1c24;
}

.servicesWrapper .servicelist:hover .image-box img {
  filter: grayscale(0);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.overlay-anim {
  position: relative;
}
.overlay-anim:after {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}
.overlay-anim:hover:after {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
