@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply text-gray-500 text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black;
}

.shadow-custom {
  box-shadow: 0 10px 15px rgba(216, 216, 216, 0.6);
}

/* button */

.RSbutton {
  @apply relative py-3 px-6 bg-primary rounded-lg flex items-center justify-center cursor-pointer text-white gap-1 font-bold outline-none overflow-hidden transition-all duration-300 ease-in-out;
}

.btnicon {
  @apply w-6 h-6 transition-all duration-300 ease-in-out;
}

.RSbutton:hover {
  transform: scale(1.02);
}

.RSbutton:hover .btnicon {
  transform: translate(4px);
}

.RSbutton:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.RSbutton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* header */

.headroom-wrapper {
  @apply fixed inset-x-0 top-0 z-50;
}

/* slick slider */

.heroSlider .slick-prev {
  @apply left-0 z-[1];
}

.heroSlider .slick-next {
  @apply right-0;
}

/* services */

.servicesWrapper .servicelist:hover .image-box {
  @apply border-primary;
}

.servicesWrapper .servicelist:hover .image-box img,
.blogSlider .bloglist:hover .image-box img {
  @apply scale-110;
}

.overlay-anim {
  position: relative;
}
.overlay-anim:after {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}
.overlay-anim:hover:after {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

/* pricing */

.pricingWrapper:after {
  position: absolute;
  background: #000000 url(/assets/images/pricing-bg.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  pointer-events: none;
}

/* .pricingTable:after {
  position: absolute;
  background: url(/assets/images/pattern-price.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  content: "";
  pointer-events: none;
} */

/* testimonials */

.starWrapper .star-filled {
  @apply text-secondary;
}

.sliderWrapper .slick-slide {
  margin: 0 8px;
}

.sliderWrapper .slick-list {
  margin: 0 -8px;
}

.sliderWrapper .slick-track {
  display: flex;
}

.sliderWrapper.testimonialSlider .slick-track {
  align-items: center;
}

.sliderWrapper .slick-dots {
  bottom: -60px;
}

.sliderWrapper .slick-dots li {
  margin: 0 3px;
}

.sliderWrapper .slick-dots li,
.sliderWrapper .slick-dots li button {
  width: 10px;
  height: 10px;
}

.sliderWrapper .slick-dots li.slick-active button:before {
  @apply text-secondary opacity-100;
}

.sliderWrapper .slick-dots li button:before {
  font-size: 10px;
  line-height: 10px;
  width: 10px;
  height: 10px;
}

@media only screen and (min-width: 1024px) {
  .sliderWrapper .slick-current + .slick-slide .slidebox {
    @apply bg-white border border-secondary border-solid;
  }
  .sliderWrapper .slick-current + .slick-slide .slidebox > .testimonial-top,
  .sliderWrapper .slick-current + .slick-slide .slidebox .icon-quote-left {
    @apply text-5xl;
  }

  .sliderWrapper
    .slick-current
    + .slick-slide
    .slidebox
    .userrating
    .starWrapper
    > .icon-star1,
  .sliderWrapper .slick-current + .slick-slide .slidebox > p,
  .sliderWrapper
    .slick-current
    + .slick-slide
    .slidebox
    .testimonial-bottom
    .userinfo
    span {
    @apply text-xl;
  }

  .sliderWrapper
    .slick-current
    + .slick-slide
    .slidebox
    .testimonial-bottom
    > img {
    width: 100px;
    height: 100px;
  }

  .sliderWrapper
    .slick-current
    + .slick-slide
    .slidebox
    .testimonial-bottom
    .userinfo
    h4 {
    @apply text-2xl leading-normal;
  }
}

@media only screen and (max-width: 768px) {
  .sliderWrapper .slick-slide:first-child {
    @apply -ml-10;
  }

  .sliderWrapper.pricingSlider .slick-slide:first-child {
    @apply -ml-0;
  }
}

@media only screen and (max-width: 640px) {
  .headerRight > .RSbutton {
    display: none;
  }

  .sliderWrapper.pricingSlider .slick-slide:first-child {
    @apply -ml-10;
  }
}

@media only screen and (max-width: 480px) {
  .sliderWrapper .slick-slide:first-child,
  .sliderWrapper.pricingSlider .slick-slide:first-child {
    @apply -ml-5;
  }
}
